name: Personal Website CI/CD with Docker

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
  
    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2 

    - name: Build the Docker Image
      working-directory: ./frontend
      run: docker build -t kirkflores/kiby.io:latest .

    - name: Run Docker Container 
      run: |
        docker run --name temp_container kirkflores/kiby.io:latest
        docker cp temp_container:/app/frontend/dist ./dist

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist